/* FONTE */
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

:root{

    /* PALETA DE CORES */
      
    --cor-01:#feffff; 
    /* verde */
    --cor-02:#3ab815;
    /* laranja */
    --cor-03:#ff4500;
    /* preto do footer */
    --cor-04:#101011;
    /* cor trasparente */
    --cor-06:#6ac94e;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html{
    font-family: "poppins", sans-serif;

}

 /* * ---BARRA DE NAVEGAÇÃO */ 

header{
    
    background-color:var(--cor-06);
    color:var(--cor-01);
    position: absolute;
    overflow: hidden;

    width: 100%;
    /* z-index:100%;  */
    /* top: 0%;  */
    padding: 7rem 8rem ;
    display: flex;
    justify-content: space-between;
     align-items: start;
     flex-direction: row;
     
    
     }

span{
    color: var(--cor-03);
}
header h1 {
    font-size: 5rem;
    /* padding: 10rem; */
    /* border: solid 1px yellow; */
    color:var(--cor-01);
}
nav ul {

    display: flex;
    flex-direction: row;
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    letter-spacing: 0.1rem;
    /* border: solid 1px rgb(0, 0, 0); TESTE */
    padding: 0.5rem 1rem ;
    transition: 0.5s;
}

nav a:hover{
    color: var(--cor-04);
    
}

.menu{
    transition: 0.5s;
    position: absolute;
    top: 0;
    right: 0%;
    /* border: solid 1px yellow; */
    
}



 .menu-responsivo{
        
        display: none;
    }

 .menu-responsivo i{
        font-size: 3rem;
    }

.logo{
 
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-itemdropdown{
        font-weight: 700;
    }
    
    
    header img{
        
        /* top: 0; */
        right: 2%;
        position:absolute;
        /* height: 100%; */
        width: 30%;
        background-size: cover;
        /* margin: auto; */
        z-index: 100;
        border-radius: 1rem;
    }

 